/*#00e29a ->color play */

@font-face {
    font-family: raidercrusader;
    src: url(media/Fonts/raidercrusader.ttf);
  }

#container{
   max-width: 100%;
   max-height: 100%;
   margin-top: 26%;
    
}

body{
    background-color:#A9A9A9;
}


#title{
    
}

h1{
    font-family: raidercrusader;
    font-size: 57px;
    color: black;
    margin-left: 34%;
    margin-top: 27%;
}

#controls{
    height: 100px;
    width: 150px;
    padding: 10px;
    margin-left: 5%;
    margin-top: -27%;
    
}

#imgcontrols{
    height: 100px;
    width: 100px;
}
#imgspacebar{
    margin-top: 25px;
    height: 70px;
    width: 100px;
}

#score{
    margin-top: -24%;
    float: right;
    font-size: 36px;
    width: 140px;
    height: 50px;
}

#imgscore{
    
    margin-left: 79%;
    margin-top: -25%;
    
}

#life{
    margin-top: -17%;
    float: right;
    font-size: 36px;
    width: 180px;
    height: 50px;
}

#imglife{
    
    margin-left: 79%;
    margin-top: -18%;
    
}

p{
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
}

#sinopsis{
    margin-top: 15%;
}

#sinopsisgame{
    text-align: center;
    text-align: justify;
    font-size: 16px;
    padding: 3%;
}

footer{
  display: block;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5%;
  background-color: black;
  color: white;
  text-align: center;
}

